button[name='close'] {
  background: transparent;
  border: 1px solid transparent;
  border-radius: 3px;
  cursor: pointer;
  flex: none;
  height: 30px;
  margin-top: -5px;
  padding: 5px;
  width: 30px;

  & svg {
    height: 100%;
    width: 100%;
  }

  &:hover,
  &:focus {
    border: 1px solid gray;
    transition: color 0.3s, fill 0.3s, border-color 0.3s;
  }
}

:host([type='primary']) button[name='close'] {
  border: 1px solid transparent;
  color: var(--grayDark) !important;
  fill: var(--grayDark) !important;

  &:hover,
  &:focus {
    border: 1px solid var(--black) !important;
    color: var(--black) !important;
    fill: var(--black) !important;
    transition: background-color 0.3s, color 0.3s, fill 0.3s, border-color 0.3s;
  }

  &:active {
    background-color: var(--black) !important;
    color: var(--grayLight) !important;
    fill: var(--grayLight) !important;
  }
}

:host([type='warning']) button[name='close'] {
  border: 1px solid transparent;
  color: var(--black) !important;
  fill: var(--black) !important;

  &:hover,
  &:focus {
    border: 1px solid var(--black) !important;
    color: var(--black) !important;
    fill: var(--black) !important;
    transition: background-color 0.3s, color 0.3s, fill 0.3s, border-color 0.3s;
  }

  &:active {
    background-color: var(--black) !important;
    color: var(--gold) !important;
    fill: var(--gold) !important;
  }
}

:host([type='danger']) button[name='close'] {
  border: 1px solid transparent;
  color: var(--white) !important;
  fill: var(--white) !important;

  &:hover,
  &:focus {
    border: 1px solid var(--white) !important;
    color: var(--white) !important;
    fill: var(--white) !important;
    transition: background-color 0.3s, color 0.3s, fill 0.3s, border-color 0.3s;
  }

  &:active {
    background-color: var(--white) !important;
    color: var(--red) !important;
    fill: var(--red) !important;
  }
}
