:host {
  display: block;
}

layout-lock {
  display: flex;
  justify-content: space-between;
  margin: 0 auto !important;
  padding: 20px !important;
  max-width: 900px;
}

slot[data-alert] {
  display: block;
  margin-right: 20px;
}
